.notFound{
  text-align: center;
  font-size: 3rem;
}

.postWrapper{
  box-sizing: border-box;
  padding: 20px;
}

.authorWrapper{
  margin-bottom: 10px;
}

.author{
  font-weight: bold;
}

.title{
  font-size: 3rem;
}

.description{
  font-size: 2rem;
}
